<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianyuan.cmchannel.mapper.TSysSuppliersMapper">
  <resultMap id="BaseResultMap" type="com.jianyuan.cmchannel.domain.TSysSuppliers">
    <!--@mbg.generated-->
    <!--@Table cm_channel.t_sys_suppliers-->
    <result column="sup_id" property="supId" />
    <result column="sup_flag" property="supFlag" />
    <result column="sup_code" property="supCode" />
    <result column="sup_name" property="supName" />
    <result column="sup_shortname" property="supShortname" />
    <result column="company_id" property="companyId" />
    <result column="corp_business_license" property="corpBusinessLicense" />
    <result column="sup_address" property="supAddress" />
    <result column="sup_fax" property="supFax" />
    <result column="sup_zip" property="supZip" />
    <result column="oragnization_code" property="oragnizationCode" />
    <result column="tax_code" property="taxCode" />
    <result column="setup_date" property="setupDate" />
    <result column="period_validity" property="periodValidity" />
    <result column="registe_capital" property="registeCapital" />
    <result column="paiclup_capital" property="paiclupCapital" />
    <result column="business_range" property="businessRange" />
    <result column="sup_website" property="supWebsite" />
    <result column="sup_manager" property="supManager" />
    <result column="pro_industry" property="proIndustry" />
    <result column="is_repo" property="isRepo" />
    <result column="area_id" property="areaId" />
    <result column="prov_id" property="provId" />
    <result column="city_id" property="cityId" />
    <result column="sign_date" property="signDate" />
    <result column="open_bank" property="openBank" />
    <result column="open_bank_number" property="openBankNumber" />
    <result column="sup_legal_name" property="supLegalName" />
    <result column="sup_legal_phone" property="supLegalPhone" />
    <result column="sup_legal_mobil" property="supLegalMobil" />
    <result column="sub_legal_address" property="subLegalAddress" />
    <result column="sub_legal_email" property="subLegalEmail" />
    <result column="bill_address" property="billAddress" />
    <result column="bill_phone" property="billPhone" />
    <result column="tax_qual" property="taxQual" />
    <result column="tax_iden_num" property="taxIdenNum" />
    <result column="ems_to_name" property="emsToName" />
    <result column="ems_to_address" property="emsToAddress" />
    <result column="ems_to_phone" property="emsToPhone" />
    <result column="ems_to_zip" property="emsToZip" />
    <result column="loans_own_unit" property="loansOwnUnit" />
    <result column="loans_own_addr" property="loansOwnAddr" />
    <result column="loans_own_bank" property="loansOwnBank" />
    <result column="loans_own_account" property="loansOwnAccount" />
    <result column="loans_total_unit" property="loansTotalUnit" />
    <result column="loans_total_adddr" property="loansTotalAdddr" />
    <result column="loans_total_bank" property="loansTotalBank" />
    <result column="loans_total_account" property="loansTotalAccount" />
    <result column="sub_score" property="subScore" />
    <result column="file_number" property="fileNumber" />
    <result column="user_id" property="userId" />
    <result column="create_date" property="createDate" />
    <result column="sup_level" property="supLevel" />
    <result column="sup_switch" property="supSwitch" />
    <result column="credit_switch" property="creditSwitch" />
    <result column="payment_switch" property="paymentSwitch" />
    <result column="balance_loan_switch" property="balanceLoanSwitch" />
    <result column="irregular_repayment_switch" property="irregularRepaymentSwitch" />
    <result column="b_model_switch" property="bModelSwitch" />
    <result column="status" property="status" />
    <result column="sup_legal_idcard" property="supLegalIdcard" />
    <result column="org_bmid" property="orgBmid" />
    <result column="scode" property="scode" />
    <result column="open_bank_addr" property="openBankAddr" />
    <result column="ems_id" property="emsId" />
    <result column="prov_instalment_id" property="provInstalmentId" />
    <result column="finance_sup_id" property="financeSupId" />
    <result column="loans_company_unit" property="loansCompanyUnit" />
    <result column="loans_company_addr" property="loansCompanyAddr" />
    <result column="loans_company_bank" property="loansCompanyBank" />
    <result column="loans_company_account" property="loansCompanyAccount" />
    <result column="sms_switch" property="smsSwitch" />
    <result column="credit_status" property="creditStatus" />
    <result column="scan_switch" property="scanSwitch" />
    <result column="datafill_switch" property="datafillSwitch" />
    <result column="credit_grade" property="creditGrade" />
    <result column="yingye_status" property="yingyeStatus" />
    <result column="score" property="score" />
    <result column="sup_type" property="supType" />
    <result column="parent_id" property="parentId" />
    <result column="lending_type" property="lendingType" />
    <result column="commission_ratio" property="commissionRatio" />
    <result column="commission_amount" property="commissionAmount" />
    <result column="sub_legal_prov" property="subLegalProv" />
    <result column="sub_legal_city" property="subLegalCity" />
    <result column="sub_legal_area" property="subLegalArea" />
    <result column="loans_own_pay" property="loansOwnPay" />
    <result column="loans_total_pay" property="loansTotalPay" />
    <result column="loans_company_pay" property="loansCompanyPay" />
    <result column="area_manager" property="areaManager" />
    <result column="area_manager_id" property="areaManagerId" />
    <result column="owncompany" property="owncompany" />
    <result column="supp_area_id" property="suppAreaId" />
    <result column="supp_area_jl" property="suppAreaJl" />
    <result column="is_routing" property="isRouting" />
    <result column="merchant_id" property="merchantId" />
    <result column="gps_supp" property="gpsSupp" />
    <result column="vip" property="vip" />
    <result column="gd_supp_code" property="gdSuppCode" />
    <result column="gd_supp" property="gdSupp" />
    <result column="sfwyfxqd" property="sfwyfxqd" />
    <result column="is_stage_db" property="isStageDb" />
    <result column="insure_id" property="insureId" />
    <result column="warn_day" property="warnDay" />
    <result column="goto_type" property="gotoType" />
    <result column="dd_id" property="ddId" />
    <result column="sup_cate" property="supCate" />
    <result column="is_loans_pay" property="isLoansPay" />
    <result column="company_leader" property="companyLeader" />
    <result column="contact_way" property="contactWay" />
    <result column="mail" property="mail" />
    <result column="company_prov" property="companyProv" />
    <result column="company_city" property="companyCity" />
    <result column="company_area" property="companyArea" />
    <result column="company_address" property="companyAddress" />
    <result column="account_prop" property="accountProp" />
  </resultMap>
  <insert id="insert" parameterType="com.jianyuan.cmchannel.domain.TSysSuppliers">
    <!--@mbg.generated-->
    insert into cm_channel.t_sys_suppliers (sup_id, sup_flag, sup_code, sup_name, sup_shortname, company_id, 
      corp_business_license, sup_address, sup_fax, sup_zip, oragnization_code, 
      tax_code, setup_date, period_validity, registe_capital, paiclup_capital, 
      business_range, sup_website, sup_manager, pro_industry, is_repo, area_id, 
      prov_id, city_id, sign_date, open_bank, open_bank_number, sup_legal_name, 
      sup_legal_phone, sup_legal_mobil, sub_legal_address, sub_legal_email, bill_address, 
      bill_phone, tax_qual, tax_iden_num, ems_to_name, ems_to_address, ems_to_phone, 
      ems_to_zip, loans_own_unit, loans_own_addr, loans_own_bank, loans_own_account, 
      loans_total_unit, loans_total_adddr, loans_total_bank, loans_total_account, 
      sub_score, file_number, user_id, create_date, sup_level, sup_switch, 
      credit_switch, payment_switch, balance_loan_switch, irregular_repayment_switch, 
      b_model_switch, `status`, sup_legal_idcard, org_bmid, scode, open_bank_addr, 
      ems_id, prov_instalment_id, finance_sup_id, loans_company_unit, loans_company_addr, 
      loans_company_bank, loans_company_account, sms_switch, credit_status, scan_switch, 
      datafill_switch, credit_grade, yingye_status, score, sup_type, parent_id, 
      lending_type, commission_ratio, commission_amount, sub_legal_prov, sub_legal_city, 
      sub_legal_area, loans_own_pay, loans_total_pay, loans_company_pay, area_manager, 
      area_manager_id, owncompany, supp_area_id, supp_area_jl, is_routing, merchant_id, 
      gps_supp, vip, gd_supp_code, gd_supp, sfwyfxqd, is_stage_db, insure_id, 
      warn_day, goto_type, dd_id, sup_cate, is_loans_pay, company_leader, 
      contact_way, mail, company_prov, company_city, company_area, company_address, 
      account_prop)
    values (#{supId}, #{supFlag}, #{supCode}, #{supName}, #{supShortname}, #{companyId}, 
      #{corpBusinessLicense}, #{supAddress}, #{supFax}, #{supZip}, #{oragnizationCode}, 
      #{taxCode}, #{setupDate}, #{periodValidity}, #{registeCapital}, #{paiclupCapital}, 
      #{businessRange}, #{supWebsite}, #{supManager}, #{proIndustry}, #{isRepo}, #{areaId}, 
      #{provId}, #{cityId}, #{signDate}, #{openBank}, #{openBankNumber}, #{supLegalName}, 
      #{supLegalPhone}, #{supLegalMobil}, #{subLegalAddress}, #{subLegalEmail}, #{billAddress}, 
      #{billPhone}, #{taxQual}, #{taxIdenNum}, #{emsToName}, #{emsToAddress}, #{emsToPhone}, 
      #{emsToZip}, #{loansOwnUnit}, #{loansOwnAddr}, #{loansOwnBank}, #{loansOwnAccount}, 
      #{loansTotalUnit}, #{loansTotalAdddr}, #{loansTotalBank}, #{loansTotalAccount}, 
      #{subScore}, #{fileNumber}, #{userId}, #{createDate}, #{supLevel}, #{supSwitch}, 
      #{creditSwitch}, #{paymentSwitch}, #{balanceLoanSwitch}, #{irregularRepaymentSwitch}, 
      #{bModelSwitch}, #{status}, #{supLegalIdcard}, #{orgBmid}, #{scode}, #{openBankAddr}, 
      #{emsId}, #{provInstalmentId}, #{financeSupId}, #{loansCompanyUnit}, #{loansCompanyAddr}, 
      #{loansCompanyBank}, #{loansCompanyAccount}, #{smsSwitch}, #{creditStatus}, #{scanSwitch}, 
      #{datafillSwitch}, #{creditGrade}, #{yingyeStatus}, #{score}, #{supType}, #{parentId}, 
      #{lendingType}, #{commissionRatio}, #{commissionAmount}, #{subLegalProv}, #{subLegalCity}, 
      #{subLegalArea}, #{loansOwnPay}, #{loansTotalPay}, #{loansCompanyPay}, #{areaManager}, 
      #{areaManagerId}, #{owncompany}, #{suppAreaId}, #{suppAreaJl}, #{isRouting}, #{merchantId}, 
      #{gpsSupp}, #{vip}, #{gdSuppCode}, #{gdSupp}, #{sfwyfxqd}, #{isStageDb}, #{insureId}, 
      #{warnDay}, #{gotoType}, #{ddId}, #{supCate}, #{isLoansPay}, #{companyLeader}, 
      #{contactWay}, #{mail}, #{companyProv}, #{companyCity}, #{companyArea}, #{companyAddress}, 
      #{accountProp})
  </insert>
  <insert id="insertSelective" parameterType="com.jianyuan.cmchannel.domain.TSysSuppliers">
    <!--@mbg.generated-->
    insert into cm_channel.t_sys_suppliers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supId != null">
        sup_id,
      </if>
      <if test="supFlag != null">
        sup_flag,
      </if>
      <if test="supCode != null">
        sup_code,
      </if>
      <if test="supName != null">
        sup_name,
      </if>
      <if test="supShortname != null">
        sup_shortname,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="corpBusinessLicense != null">
        corp_business_license,
      </if>
      <if test="supAddress != null">
        sup_address,
      </if>
      <if test="supFax != null">
        sup_fax,
      </if>
      <if test="supZip != null">
        sup_zip,
      </if>
      <if test="oragnizationCode != null">
        oragnization_code,
      </if>
      <if test="taxCode != null">
        tax_code,
      </if>
      <if test="setupDate != null">
        setup_date,
      </if>
      <if test="periodValidity != null">
        period_validity,
      </if>
      <if test="registeCapital != null">
        registe_capital,
      </if>
      <if test="paiclupCapital != null">
        paiclup_capital,
      </if>
      <if test="businessRange != null">
        business_range,
      </if>
      <if test="supWebsite != null">
        sup_website,
      </if>
      <if test="supManager != null">
        sup_manager,
      </if>
      <if test="proIndustry != null">
        pro_industry,
      </if>
      <if test="isRepo != null">
        is_repo,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="provId != null">
        prov_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="signDate != null">
        sign_date,
      </if>
      <if test="openBank != null">
        open_bank,
      </if>
      <if test="openBankNumber != null">
        open_bank_number,
      </if>
      <if test="supLegalName != null">
        sup_legal_name,
      </if>
      <if test="supLegalPhone != null">
        sup_legal_phone,
      </if>
      <if test="supLegalMobil != null">
        sup_legal_mobil,
      </if>
      <if test="subLegalAddress != null">
        sub_legal_address,
      </if>
      <if test="subLegalEmail != null">
        sub_legal_email,
      </if>
      <if test="billAddress != null">
        bill_address,
      </if>
      <if test="billPhone != null">
        bill_phone,
      </if>
      <if test="taxQual != null">
        tax_qual,
      </if>
      <if test="taxIdenNum != null">
        tax_iden_num,
      </if>
      <if test="emsToName != null">
        ems_to_name,
      </if>
      <if test="emsToAddress != null">
        ems_to_address,
      </if>
      <if test="emsToPhone != null">
        ems_to_phone,
      </if>
      <if test="emsToZip != null">
        ems_to_zip,
      </if>
      <if test="loansOwnUnit != null">
        loans_own_unit,
      </if>
      <if test="loansOwnAddr != null">
        loans_own_addr,
      </if>
      <if test="loansOwnBank != null">
        loans_own_bank,
      </if>
      <if test="loansOwnAccount != null">
        loans_own_account,
      </if>
      <if test="loansTotalUnit != null">
        loans_total_unit,
      </if>
      <if test="loansTotalAdddr != null">
        loans_total_adddr,
      </if>
      <if test="loansTotalBank != null">
        loans_total_bank,
      </if>
      <if test="loansTotalAccount != null">
        loans_total_account,
      </if>
      <if test="subScore != null">
        sub_score,
      </if>
      <if test="fileNumber != null">
        file_number,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="supLevel != null">
        sup_level,
      </if>
      <if test="supSwitch != null">
        sup_switch,
      </if>
      <if test="creditSwitch != null">
        credit_switch,
      </if>
      <if test="paymentSwitch != null">
        payment_switch,
      </if>
      <if test="balanceLoanSwitch != null">
        balance_loan_switch,
      </if>
      <if test="irregularRepaymentSwitch != null">
        irregular_repayment_switch,
      </if>
      <if test="bModelSwitch != null">
        b_model_switch,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="supLegalIdcard != null">
        sup_legal_idcard,
      </if>
      <if test="orgBmid != null">
        org_bmid,
      </if>
      <if test="scode != null">
        scode,
      </if>
      <if test="openBankAddr != null">
        open_bank_addr,
      </if>
      <if test="emsId != null">
        ems_id,
      </if>
      <if test="provInstalmentId != null">
        prov_instalment_id,
      </if>
      <if test="financeSupId != null">
        finance_sup_id,
      </if>
      <if test="loansCompanyUnit != null">
        loans_company_unit,
      </if>
      <if test="loansCompanyAddr != null">
        loans_company_addr,
      </if>
      <if test="loansCompanyBank != null">
        loans_company_bank,
      </if>
      <if test="loansCompanyAccount != null">
        loans_company_account,
      </if>
      <if test="smsSwitch != null">
        sms_switch,
      </if>
      <if test="creditStatus != null">
        credit_status,
      </if>
      <if test="scanSwitch != null">
        scan_switch,
      </if>
      <if test="datafillSwitch != null">
        datafill_switch,
      </if>
      <if test="creditGrade != null">
        credit_grade,
      </if>
      <if test="yingyeStatus != null">
        yingye_status,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="supType != null">
        sup_type,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="lendingType != null">
        lending_type,
      </if>
      <if test="commissionRatio != null">
        commission_ratio,
      </if>
      <if test="commissionAmount != null">
        commission_amount,
      </if>
      <if test="subLegalProv != null">
        sub_legal_prov,
      </if>
      <if test="subLegalCity != null">
        sub_legal_city,
      </if>
      <if test="subLegalArea != null">
        sub_legal_area,
      </if>
      <if test="loansOwnPay != null">
        loans_own_pay,
      </if>
      <if test="loansTotalPay != null">
        loans_total_pay,
      </if>
      <if test="loansCompanyPay != null">
        loans_company_pay,
      </if>
      <if test="areaManager != null">
        area_manager,
      </if>
      <if test="areaManagerId != null">
        area_manager_id,
      </if>
      <if test="owncompany != null">
        owncompany,
      </if>
      <if test="suppAreaId != null">
        supp_area_id,
      </if>
      <if test="suppAreaJl != null">
        supp_area_jl,
      </if>
      <if test="isRouting != null">
        is_routing,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="gpsSupp != null">
        gps_supp,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="gdSuppCode != null">
        gd_supp_code,
      </if>
      <if test="gdSupp != null">
        gd_supp,
      </if>
      <if test="sfwyfxqd != null">
        sfwyfxqd,
      </if>
      <if test="isStageDb != null">
        is_stage_db,
      </if>
      <if test="insureId != null">
        insure_id,
      </if>
      <if test="warnDay != null">
        warn_day,
      </if>
      <if test="gotoType != null">
        goto_type,
      </if>
      <if test="ddId != null">
        dd_id,
      </if>
      <if test="supCate != null">
        sup_cate,
      </if>
      <if test="isLoansPay != null">
        is_loans_pay,
      </if>
      <if test="companyLeader != null">
        company_leader,
      </if>
      <if test="contactWay != null">
        contact_way,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="companyProv != null">
        company_prov,
      </if>
      <if test="companyCity != null">
        company_city,
      </if>
      <if test="companyArea != null">
        company_area,
      </if>
      <if test="companyAddress != null">
        company_address,
      </if>
      <if test="accountProp != null">
        account_prop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supId != null">
        #{supId},
      </if>
      <if test="supFlag != null">
        #{supFlag},
      </if>
      <if test="supCode != null">
        #{supCode},
      </if>
      <if test="supName != null">
        #{supName},
      </if>
      <if test="supShortname != null">
        #{supShortname},
      </if>
      <if test="companyId != null">
        #{companyId},
      </if>
      <if test="corpBusinessLicense != null">
        #{corpBusinessLicense},
      </if>
      <if test="supAddress != null">
        #{supAddress},
      </if>
      <if test="supFax != null">
        #{supFax},
      </if>
      <if test="supZip != null">
        #{supZip},
      </if>
      <if test="oragnizationCode != null">
        #{oragnizationCode},
      </if>
      <if test="taxCode != null">
        #{taxCode},
      </if>
      <if test="setupDate != null">
        #{setupDate},
      </if>
      <if test="periodValidity != null">
        #{periodValidity},
      </if>
      <if test="registeCapital != null">
        #{registeCapital},
      </if>
      <if test="paiclupCapital != null">
        #{paiclupCapital},
      </if>
      <if test="businessRange != null">
        #{businessRange},
      </if>
      <if test="supWebsite != null">
        #{supWebsite},
      </if>
      <if test="supManager != null">
        #{supManager},
      </if>
      <if test="proIndustry != null">
        #{proIndustry},
      </if>
      <if test="isRepo != null">
        #{isRepo},
      </if>
      <if test="areaId != null">
        #{areaId},
      </if>
      <if test="provId != null">
        #{provId},
      </if>
      <if test="cityId != null">
        #{cityId},
      </if>
      <if test="signDate != null">
        #{signDate},
      </if>
      <if test="openBank != null">
        #{openBank},
      </if>
      <if test="openBankNumber != null">
        #{openBankNumber},
      </if>
      <if test="supLegalName != null">
        #{supLegalName},
      </if>
      <if test="supLegalPhone != null">
        #{supLegalPhone},
      </if>
      <if test="supLegalMobil != null">
        #{supLegalMobil},
      </if>
      <if test="subLegalAddress != null">
        #{subLegalAddress},
      </if>
      <if test="subLegalEmail != null">
        #{subLegalEmail},
      </if>
      <if test="billAddress != null">
        #{billAddress},
      </if>
      <if test="billPhone != null">
        #{billPhone},
      </if>
      <if test="taxQual != null">
        #{taxQual},
      </if>
      <if test="taxIdenNum != null">
        #{taxIdenNum},
      </if>
      <if test="emsToName != null">
        #{emsToName},
      </if>
      <if test="emsToAddress != null">
        #{emsToAddress},
      </if>
      <if test="emsToPhone != null">
        #{emsToPhone},
      </if>
      <if test="emsToZip != null">
        #{emsToZip},
      </if>
      <if test="loansOwnUnit != null">
        #{loansOwnUnit},
      </if>
      <if test="loansOwnAddr != null">
        #{loansOwnAddr},
      </if>
      <if test="loansOwnBank != null">
        #{loansOwnBank},
      </if>
      <if test="loansOwnAccount != null">
        #{loansOwnAccount},
      </if>
      <if test="loansTotalUnit != null">
        #{loansTotalUnit},
      </if>
      <if test="loansTotalAdddr != null">
        #{loansTotalAdddr},
      </if>
      <if test="loansTotalBank != null">
        #{loansTotalBank},
      </if>
      <if test="loansTotalAccount != null">
        #{loansTotalAccount},
      </if>
      <if test="subScore != null">
        #{subScore},
      </if>
      <if test="fileNumber != null">
        #{fileNumber},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="createDate != null">
        #{createDate},
      </if>
      <if test="supLevel != null">
        #{supLevel},
      </if>
      <if test="supSwitch != null">
        #{supSwitch},
      </if>
      <if test="creditSwitch != null">
        #{creditSwitch},
      </if>
      <if test="paymentSwitch != null">
        #{paymentSwitch},
      </if>
      <if test="balanceLoanSwitch != null">
        #{balanceLoanSwitch},
      </if>
      <if test="irregularRepaymentSwitch != null">
        #{irregularRepaymentSwitch},
      </if>
      <if test="bModelSwitch != null">
        #{bModelSwitch},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="supLegalIdcard != null">
        #{supLegalIdcard},
      </if>
      <if test="orgBmid != null">
        #{orgBmid},
      </if>
      <if test="scode != null">
        #{scode},
      </if>
      <if test="openBankAddr != null">
        #{openBankAddr},
      </if>
      <if test="emsId != null">
        #{emsId},
      </if>
      <if test="provInstalmentId != null">
        #{provInstalmentId},
      </if>
      <if test="financeSupId != null">
        #{financeSupId},
      </if>
      <if test="loansCompanyUnit != null">
        #{loansCompanyUnit},
      </if>
      <if test="loansCompanyAddr != null">
        #{loansCompanyAddr},
      </if>
      <if test="loansCompanyBank != null">
        #{loansCompanyBank},
      </if>
      <if test="loansCompanyAccount != null">
        #{loansCompanyAccount},
      </if>
      <if test="smsSwitch != null">
        #{smsSwitch},
      </if>
      <if test="creditStatus != null">
        #{creditStatus},
      </if>
      <if test="scanSwitch != null">
        #{scanSwitch},
      </if>
      <if test="datafillSwitch != null">
        #{datafillSwitch},
      </if>
      <if test="creditGrade != null">
        #{creditGrade},
      </if>
      <if test="yingyeStatus != null">
        #{yingyeStatus},
      </if>
      <if test="score != null">
        #{score},
      </if>
      <if test="supType != null">
        #{supType},
      </if>
      <if test="parentId != null">
        #{parentId},
      </if>
      <if test="lendingType != null">
        #{lendingType},
      </if>
      <if test="commissionRatio != null">
        #{commissionRatio},
      </if>
      <if test="commissionAmount != null">
        #{commissionAmount},
      </if>
      <if test="subLegalProv != null">
        #{subLegalProv},
      </if>
      <if test="subLegalCity != null">
        #{subLegalCity},
      </if>
      <if test="subLegalArea != null">
        #{subLegalArea},
      </if>
      <if test="loansOwnPay != null">
        #{loansOwnPay},
      </if>
      <if test="loansTotalPay != null">
        #{loansTotalPay},
      </if>
      <if test="loansCompanyPay != null">
        #{loansCompanyPay},
      </if>
      <if test="areaManager != null">
        #{areaManager},
      </if>
      <if test="areaManagerId != null">
        #{areaManagerId},
      </if>
      <if test="owncompany != null">
        #{owncompany},
      </if>
      <if test="suppAreaId != null">
        #{suppAreaId},
      </if>
      <if test="suppAreaJl != null">
        #{suppAreaJl},
      </if>
      <if test="isRouting != null">
        #{isRouting},
      </if>
      <if test="merchantId != null">
        #{merchantId},
      </if>
      <if test="gpsSupp != null">
        #{gpsSupp},
      </if>
      <if test="vip != null">
        #{vip},
      </if>
      <if test="gdSuppCode != null">
        #{gdSuppCode},
      </if>
      <if test="gdSupp != null">
        #{gdSupp},
      </if>
      <if test="sfwyfxqd != null">
        #{sfwyfxqd},
      </if>
      <if test="isStageDb != null">
        #{isStageDb},
      </if>
      <if test="insureId != null">
        #{insureId},
      </if>
      <if test="warnDay != null">
        #{warnDay},
      </if>
      <if test="gotoType != null">
        #{gotoType},
      </if>
      <if test="ddId != null">
        #{ddId},
      </if>
      <if test="supCate != null">
        #{supCate},
      </if>
      <if test="isLoansPay != null">
        #{isLoansPay},
      </if>
      <if test="companyLeader != null">
        #{companyLeader},
      </if>
      <if test="contactWay != null">
        #{contactWay},
      </if>
      <if test="mail != null">
        #{mail},
      </if>
      <if test="companyProv != null">
        #{companyProv},
      </if>
      <if test="companyCity != null">
        #{companyCity},
      </if>
      <if test="companyArea != null">
        #{companyArea},
      </if>
      <if test="companyAddress != null">
        #{companyAddress},
      </if>
      <if test="accountProp != null">
        #{accountProp},
      </if>
    </trim>
  </insert>
</mapper>