<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianyuan.cmchannel.mapper.TSysSuppliersMapper">
  <resultMap id="BaseResultMap" type="com.jianyuan.cmchannel.domain.TSysSuppliers">
    <!--@mbg.generated-->
    <!--@Table t_sys_suppliers-->
    <result column="sup_id" jdbcType="VARCHAR" property="supId" />
    <result column="sup_flag" jdbcType="VARCHAR" property="supFlag" />
    <result column="sup_code" jdbcType="VARCHAR" property="supCode" />
    <result column="sup_name" jdbcType="VARCHAR" property="supName" />
    <result column="sup_shortname" jdbcType="VARCHAR" property="supShortname" />
    <result column="company_id" jdbcType="DECIMAL" property="companyId" />
    <result column="corp_business_license" jdbcType="VARCHAR" property="corpBusinessLicense" />
    <result column="sup_address" jdbcType="VARCHAR" property="supAddress" />
    <result column="sup_fax" jdbcType="VARCHAR" property="supFax" />
    <result column="sup_zip" jdbcType="VARCHAR" property="supZip" />
    <result column="oragnization_code" jdbcType="VARCHAR" property="oragnizationCode" />
    <result column="tax_code" jdbcType="VARCHAR" property="taxCode" />
    <result column="setup_date" jdbcType="TIMESTAMP" property="setupDate" />
    <result column="period_validity" jdbcType="TIMESTAMP" property="periodValidity" />
    <result column="registe_capital" jdbcType="DECIMAL" property="registeCapital" />
    <result column="paiclup_capital" jdbcType="DECIMAL" property="paiclupCapital" />
    <result column="business_range" jdbcType="VARCHAR" property="businessRange" />
    <result column="sup_website" jdbcType="VARCHAR" property="supWebsite" />
    <result column="sup_manager" jdbcType="VARCHAR" property="supManager" />
    <result column="pro_industry" jdbcType="VARCHAR" property="proIndustry" />
    <result column="is_repo" jdbcType="DECIMAL" property="isRepo" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="prov_id" jdbcType="VARCHAR" property="provId" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="sign_date" jdbcType="TIMESTAMP" property="signDate" />
    <result column="open_bank" jdbcType="VARCHAR" property="openBank" />
    <result column="open_bank_number" jdbcType="VARCHAR" property="openBankNumber" />
    <result column="sup_legal_name" jdbcType="VARCHAR" property="supLegalName" />
    <result column="sup_legal_phone" jdbcType="VARCHAR" property="supLegalPhone" />
    <result column="sup_legal_mobil" jdbcType="VARCHAR" property="supLegalMobil" />
    <result column="sub_legal_address" jdbcType="VARCHAR" property="subLegalAddress" />
    <result column="sub_legal_email" jdbcType="VARCHAR" property="subLegalEmail" />
    <result column="bill_address" jdbcType="VARCHAR" property="billAddress" />
    <result column="bill_phone" jdbcType="VARCHAR" property="billPhone" />
    <result column="tax_qual" jdbcType="VARCHAR" property="taxQual" />
    <result column="tax_iden_num" jdbcType="VARCHAR" property="taxIdenNum" />
    <result column="ems_to_name" jdbcType="VARCHAR" property="emsToName" />
    <result column="ems_to_address" jdbcType="VARCHAR" property="emsToAddress" />
    <result column="ems_to_phone" jdbcType="VARCHAR" property="emsToPhone" />
    <result column="ems_to_zip" jdbcType="VARCHAR" property="emsToZip" />
    <result column="loans_own_unit" jdbcType="VARCHAR" property="loansOwnUnit" />
    <result column="loans_own_addr" jdbcType="VARCHAR" property="loansOwnAddr" />
    <result column="loans_own_bank" jdbcType="VARCHAR" property="loansOwnBank" />
    <result column="loans_own_account" jdbcType="VARCHAR" property="loansOwnAccount" />
    <result column="loans_total_unit" jdbcType="VARCHAR" property="loansTotalUnit" />
    <result column="loans_total_adddr" jdbcType="VARCHAR" property="loansTotalAdddr" />
    <result column="loans_total_bank" jdbcType="VARCHAR" property="loansTotalBank" />
    <result column="loans_total_account" jdbcType="VARCHAR" property="loansTotalAccount" />
    <result column="sub_score" jdbcType="DECIMAL" property="subScore" />
    <result column="file_number" jdbcType="VARCHAR" property="fileNumber" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="sup_level" jdbcType="VARCHAR" property="supLevel" />
    <result column="sup_switch" jdbcType="VARCHAR" property="supSwitch" />
    <result column="credit_switch" jdbcType="VARCHAR" property="creditSwitch" />
    <result column="payment_switch" jdbcType="VARCHAR" property="paymentSwitch" />
    <result column="balance_loan_switch" jdbcType="VARCHAR" property="balanceLoanSwitch" />
    <result column="irregular_repayment_switch" jdbcType="VARCHAR" property="irregularRepaymentSwitch" />
    <result column="b_model_switch" jdbcType="VARCHAR" property="bModelSwitch" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="sup_legal_idcard" jdbcType="VARCHAR" property="supLegalIdcard" />
    <result column="org_bmid" jdbcType="DECIMAL" property="orgBmid" />
    <result column="scode" jdbcType="VARCHAR" property="scode" />
    <result column="open_bank_addr" jdbcType="VARCHAR" property="openBankAddr" />
    <result column="ems_id" jdbcType="VARCHAR" property="emsId" />
    <result column="prov_instalment_id" jdbcType="VARCHAR" property="provInstalmentId" />
    <result column="finance_sup_id" jdbcType="VARCHAR" property="financeSupId" />
    <result column="loans_company_unit" jdbcType="VARCHAR" property="loansCompanyUnit" />
    <result column="loans_company_addr" jdbcType="VARCHAR" property="loansCompanyAddr" />
    <result column="loans_company_bank" jdbcType="VARCHAR" property="loansCompanyBank" />
    <result column="loans_company_account" jdbcType="VARCHAR" property="loansCompanyAccount" />
    <result column="sms_switch" jdbcType="VARCHAR" property="smsSwitch" />
    <result column="credit_status" jdbcType="DECIMAL" property="creditStatus" />
    <result column="scan_switch" jdbcType="VARCHAR" property="scanSwitch" />
    <result column="datafill_switch" jdbcType="VARCHAR" property="datafillSwitch" />
    <result column="credit_grade" jdbcType="VARCHAR" property="creditGrade" />
    <result column="yingye_status" jdbcType="DECIMAL" property="yingyeStatus" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="sup_type" jdbcType="DECIMAL" property="supType" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="lending_type" jdbcType="VARCHAR" property="lendingType" />
    <result column="commission_ratio" jdbcType="DECIMAL" property="commissionRatio" />
    <result column="commission_amount" jdbcType="DECIMAL" property="commissionAmount" />
    <result column="sub_legal_prov" jdbcType="VARCHAR" property="subLegalProv" />
    <result column="sub_legal_city" jdbcType="VARCHAR" property="subLegalCity" />
    <result column="sub_legal_area" jdbcType="VARCHAR" property="subLegalArea" />
    <result column="loans_own_pay" jdbcType="VARCHAR" property="loansOwnPay" />
    <result column="loans_total_pay" jdbcType="VARCHAR" property="loansTotalPay" />
    <result column="loans_company_pay" jdbcType="VARCHAR" property="loansCompanyPay" />
    <result column="area_manager" jdbcType="VARCHAR" property="areaManager" />
    <result column="area_manager_id" jdbcType="VARCHAR" property="areaManagerId" />
    <result column="owncompany" jdbcType="DECIMAL" property="owncompany" />
    <result column="supp_area_id" jdbcType="DECIMAL" property="suppAreaId" />
    <result column="supp_area_jl" jdbcType="VARCHAR" property="suppAreaJl" />
    <result column="is_routing" jdbcType="DECIMAL" property="isRouting" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="gps_supp" jdbcType="VARCHAR" property="gpsSupp" />
    <result column="vip" jdbcType="VARCHAR" property="vip" />
    <result column="gd_supp_code" jdbcType="VARCHAR" property="gdSuppCode" />
    <result column="gd_supp" jdbcType="VARCHAR" property="gdSupp" />
    <result column="sfwyfxqd" jdbcType="DECIMAL" property="sfwyfxqd" />
    <result column="is_stage_db" jdbcType="DECIMAL" property="isStageDb" />
    <result column="insure_id" jdbcType="DECIMAL" property="insureId" />
    <result column="warn_day" jdbcType="DECIMAL" property="warnDay" />
    <result column="goto_type" jdbcType="DECIMAL" property="gotoType" />
    <result column="dd_id" jdbcType="VARCHAR" property="ddId" />
    <result column="sup_cate" jdbcType="VARCHAR" property="supCate" />
    <result column="is_loans_pay" jdbcType="DECIMAL" property="isLoansPay" />
    <result column="company_leader" jdbcType="VARCHAR" property="companyLeader" />
    <result column="contact_way" jdbcType="VARCHAR" property="contactWay" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="company_prov" jdbcType="VARCHAR" property="companyProv" />
    <result column="company_city" jdbcType="VARCHAR" property="companyCity" />
    <result column="company_area" jdbcType="VARCHAR" property="companyArea" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="account_prop" jdbcType="VARCHAR" property="accountProp" />
  </resultMap>
  <insert id="insert" parameterType="com.jianyuan.cmchannel.domain.TSysSuppliers">
    <!--@mbg.generated-->
    insert into t_sys_suppliers (sup_id, sup_flag, sup_code, 
      sup_name, sup_shortname, company_id, 
      corp_business_license, sup_address, sup_fax, 
      sup_zip, oragnization_code, tax_code, 
      setup_date, period_validity, registe_capital, 
      paiclup_capital, business_range, sup_website, 
      sup_manager, pro_industry, is_repo, 
      area_id, prov_id, city_id, 
      sign_date, open_bank, open_bank_number, 
      sup_legal_name, sup_legal_phone, sup_legal_mobil, 
      sub_legal_address, sub_legal_email, bill_address, 
      bill_phone, tax_qual, tax_iden_num, 
      ems_to_name, ems_to_address, ems_to_phone, 
      ems_to_zip, loans_own_unit, loans_own_addr, 
      loans_own_bank, loans_own_account, loans_total_unit, 
      loans_total_adddr, loans_total_bank, loans_total_account, 
      sub_score, file_number, user_id, 
      create_date, sup_level, sup_switch, 
      credit_switch, payment_switch, balance_loan_switch, 
      irregular_repayment_switch, b_model_switch, 
      `status`, sup_legal_idcard, org_bmid, 
      scode, open_bank_addr, ems_id, 
      prov_instalment_id, finance_sup_id, loans_company_unit, 
      loans_company_addr, loans_company_bank, loans_company_account, 
      sms_switch, credit_status, scan_switch, 
      datafill_switch, credit_grade, yingye_status, 
      score, sup_type, parent_id, 
      lending_type, commission_ratio, commission_amount, 
      sub_legal_prov, sub_legal_city, sub_legal_area, 
      loans_own_pay, loans_total_pay, loans_company_pay, 
      area_manager, area_manager_id, owncompany, 
      supp_area_id, supp_area_jl, is_routing, 
      merchant_id, gps_supp, vip, 
      gd_supp_code, gd_supp, sfwyfxqd, 
      is_stage_db, insure_id, warn_day, 
      goto_type, dd_id, sup_cate, 
      is_loans_pay, company_leader, contact_way, 
      mail, company_prov, company_city, 
      company_area, company_address, account_prop
      )
    values (#{supId,jdbcType=VARCHAR}, #{supFlag,jdbcType=VARCHAR}, #{supCode,jdbcType=VARCHAR}, 
      #{supName,jdbcType=VARCHAR}, #{supShortname,jdbcType=VARCHAR}, #{companyId,jdbcType=DECIMAL}, 
      #{corpBusinessLicense,jdbcType=VARCHAR}, #{supAddress,jdbcType=VARCHAR}, #{supFax,jdbcType=VARCHAR}, 
      #{supZip,jdbcType=VARCHAR}, #{oragnizationCode,jdbcType=VARCHAR}, #{taxCode,jdbcType=VARCHAR}, 
      #{setupDate,jdbcType=TIMESTAMP}, #{periodValidity,jdbcType=TIMESTAMP}, #{registeCapital,jdbcType=DECIMAL}, 
      #{paiclupCapital,jdbcType=DECIMAL}, #{businessRange,jdbcType=VARCHAR}, #{supWebsite,jdbcType=VARCHAR}, 
      #{supManager,jdbcType=VARCHAR}, #{proIndustry,jdbcType=VARCHAR}, #{isRepo,jdbcType=DECIMAL}, 
      #{areaId,jdbcType=VARCHAR}, #{provId,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR}, 
      #{signDate,jdbcType=TIMESTAMP}, #{openBank,jdbcType=VARCHAR}, #{openBankNumber,jdbcType=VARCHAR}, 
      #{supLegalName,jdbcType=VARCHAR}, #{supLegalPhone,jdbcType=VARCHAR}, #{supLegalMobil,jdbcType=VARCHAR}, 
      #{subLegalAddress,jdbcType=VARCHAR}, #{subLegalEmail,jdbcType=VARCHAR}, #{billAddress,jdbcType=VARCHAR}, 
      #{billPhone,jdbcType=VARCHAR}, #{taxQual,jdbcType=VARCHAR}, #{taxIdenNum,jdbcType=VARCHAR}, 
      #{emsToName,jdbcType=VARCHAR}, #{emsToAddress,jdbcType=VARCHAR}, #{emsToPhone,jdbcType=VARCHAR}, 
      #{emsToZip,jdbcType=VARCHAR}, #{loansOwnUnit,jdbcType=VARCHAR}, #{loansOwnAddr,jdbcType=VARCHAR}, 
      #{loansOwnBank,jdbcType=VARCHAR}, #{loansOwnAccount,jdbcType=VARCHAR}, #{loansTotalUnit,jdbcType=VARCHAR}, 
      #{loansTotalAdddr,jdbcType=VARCHAR}, #{loansTotalBank,jdbcType=VARCHAR}, #{loansTotalAccount,jdbcType=VARCHAR}, 
      #{subScore,jdbcType=DECIMAL}, #{fileNumber,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{supLevel,jdbcType=VARCHAR}, #{supSwitch,jdbcType=VARCHAR}, 
      #{creditSwitch,jdbcType=VARCHAR}, #{paymentSwitch,jdbcType=VARCHAR}, #{balanceLoanSwitch,jdbcType=VARCHAR}, 
      #{irregularRepaymentSwitch,jdbcType=VARCHAR}, #{bModelSwitch,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{supLegalIdcard,jdbcType=VARCHAR}, #{orgBmid,jdbcType=DECIMAL}, 
      #{scode,jdbcType=VARCHAR}, #{openBankAddr,jdbcType=VARCHAR}, #{emsId,jdbcType=VARCHAR}, 
      #{provInstalmentId,jdbcType=VARCHAR}, #{financeSupId,jdbcType=VARCHAR}, #{loansCompanyUnit,jdbcType=VARCHAR}, 
      #{loansCompanyAddr,jdbcType=VARCHAR}, #{loansCompanyBank,jdbcType=VARCHAR}, #{loansCompanyAccount,jdbcType=VARCHAR}, 
      #{smsSwitch,jdbcType=VARCHAR}, #{creditStatus,jdbcType=DECIMAL}, #{scanSwitch,jdbcType=VARCHAR}, 
      #{datafillSwitch,jdbcType=VARCHAR}, #{creditGrade,jdbcType=VARCHAR}, #{yingyeStatus,jdbcType=DECIMAL}, 
      #{score,jdbcType=DECIMAL}, #{supType,jdbcType=DECIMAL}, #{parentId,jdbcType=VARCHAR}, 
      #{lendingType,jdbcType=VARCHAR}, #{commissionRatio,jdbcType=DECIMAL}, #{commissionAmount,jdbcType=DECIMAL}, 
      #{subLegalProv,jdbcType=VARCHAR}, #{subLegalCity,jdbcType=VARCHAR}, #{subLegalArea,jdbcType=VARCHAR}, 
      #{loansOwnPay,jdbcType=VARCHAR}, #{loansTotalPay,jdbcType=VARCHAR}, #{loansCompanyPay,jdbcType=VARCHAR}, 
      #{areaManager,jdbcType=VARCHAR}, #{areaManagerId,jdbcType=VARCHAR}, #{owncompany,jdbcType=DECIMAL}, 
      #{suppAreaId,jdbcType=DECIMAL}, #{suppAreaJl,jdbcType=VARCHAR}, #{isRouting,jdbcType=DECIMAL}, 
      #{merchantId,jdbcType=VARCHAR}, #{gpsSupp,jdbcType=VARCHAR}, #{vip,jdbcType=VARCHAR}, 
      #{gdSuppCode,jdbcType=VARCHAR}, #{gdSupp,jdbcType=VARCHAR}, #{sfwyfxqd,jdbcType=DECIMAL}, 
      #{isStageDb,jdbcType=DECIMAL}, #{insureId,jdbcType=DECIMAL}, #{warnDay,jdbcType=DECIMAL}, 
      #{gotoType,jdbcType=DECIMAL}, #{ddId,jdbcType=VARCHAR}, #{supCate,jdbcType=VARCHAR}, 
      #{isLoansPay,jdbcType=DECIMAL}, #{companyLeader,jdbcType=VARCHAR}, #{contactWay,jdbcType=VARCHAR}, 
      #{mail,jdbcType=VARCHAR}, #{companyProv,jdbcType=VARCHAR}, #{companyCity,jdbcType=VARCHAR}, 
      #{companyArea,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, #{accountProp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jianyuan.cmchannel.domain.TSysSuppliers">
    <!--@mbg.generated-->
    insert into t_sys_suppliers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supId != null">
        sup_id,
      </if>
      <if test="supFlag != null">
        sup_flag,
      </if>
      <if test="supCode != null">
        sup_code,
      </if>
      <if test="supName != null">
        sup_name,
      </if>
      <if test="supShortname != null">
        sup_shortname,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="corpBusinessLicense != null">
        corp_business_license,
      </if>
      <if test="supAddress != null">
        sup_address,
      </if>
      <if test="supFax != null">
        sup_fax,
      </if>
      <if test="supZip != null">
        sup_zip,
      </if>
      <if test="oragnizationCode != null">
        oragnization_code,
      </if>
      <if test="taxCode != null">
        tax_code,
      </if>
      <if test="setupDate != null">
        setup_date,
      </if>
      <if test="periodValidity != null">
        period_validity,
      </if>
      <if test="registeCapital != null">
        registe_capital,
      </if>
      <if test="paiclupCapital != null">
        paiclup_capital,
      </if>
      <if test="businessRange != null">
        business_range,
      </if>
      <if test="supWebsite != null">
        sup_website,
      </if>
      <if test="supManager != null">
        sup_manager,
      </if>
      <if test="proIndustry != null">
        pro_industry,
      </if>
      <if test="isRepo != null">
        is_repo,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="provId != null">
        prov_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="signDate != null">
        sign_date,
      </if>
      <if test="openBank != null">
        open_bank,
      </if>
      <if test="openBankNumber != null">
        open_bank_number,
      </if>
      <if test="supLegalName != null">
        sup_legal_name,
      </if>
      <if test="supLegalPhone != null">
        sup_legal_phone,
      </if>
      <if test="supLegalMobil != null">
        sup_legal_mobil,
      </if>
      <if test="subLegalAddress != null">
        sub_legal_address,
      </if>
      <if test="subLegalEmail != null">
        sub_legal_email,
      </if>
      <if test="billAddress != null">
        bill_address,
      </if>
      <if test="billPhone != null">
        bill_phone,
      </if>
      <if test="taxQual != null">
        tax_qual,
      </if>
      <if test="taxIdenNum != null">
        tax_iden_num,
      </if>
      <if test="emsToName != null">
        ems_to_name,
      </if>
      <if test="emsToAddress != null">
        ems_to_address,
      </if>
      <if test="emsToPhone != null">
        ems_to_phone,
      </if>
      <if test="emsToZip != null">
        ems_to_zip,
      </if>
      <if test="loansOwnUnit != null">
        loans_own_unit,
      </if>
      <if test="loansOwnAddr != null">
        loans_own_addr,
      </if>
      <if test="loansOwnBank != null">
        loans_own_bank,
      </if>
      <if test="loansOwnAccount != null">
        loans_own_account,
      </if>
      <if test="loansTotalUnit != null">
        loans_total_unit,
      </if>
      <if test="loansTotalAdddr != null">
        loans_total_adddr,
      </if>
      <if test="loansTotalBank != null">
        loans_total_bank,
      </if>
      <if test="loansTotalAccount != null">
        loans_total_account,
      </if>
      <if test="subScore != null">
        sub_score,
      </if>
      <if test="fileNumber != null">
        file_number,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="supLevel != null">
        sup_level,
      </if>
      <if test="supSwitch != null">
        sup_switch,
      </if>
      <if test="creditSwitch != null">
        credit_switch,
      </if>
      <if test="paymentSwitch != null">
        payment_switch,
      </if>
      <if test="balanceLoanSwitch != null">
        balance_loan_switch,
      </if>
      <if test="irregularRepaymentSwitch != null">
        irregular_repayment_switch,
      </if>
      <if test="bModelSwitch != null">
        b_model_switch,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="supLegalIdcard != null">
        sup_legal_idcard,
      </if>
      <if test="orgBmid != null">
        org_bmid,
      </if>
      <if test="scode != null">
        scode,
      </if>
      <if test="openBankAddr != null">
        open_bank_addr,
      </if>
      <if test="emsId != null">
        ems_id,
      </if>
      <if test="provInstalmentId != null">
        prov_instalment_id,
      </if>
      <if test="financeSupId != null">
        finance_sup_id,
      </if>
      <if test="loansCompanyUnit != null">
        loans_company_unit,
      </if>
      <if test="loansCompanyAddr != null">
        loans_company_addr,
      </if>
      <if test="loansCompanyBank != null">
        loans_company_bank,
      </if>
      <if test="loansCompanyAccount != null">
        loans_company_account,
      </if>
      <if test="smsSwitch != null">
        sms_switch,
      </if>
      <if test="creditStatus != null">
        credit_status,
      </if>
      <if test="scanSwitch != null">
        scan_switch,
      </if>
      <if test="datafillSwitch != null">
        datafill_switch,
      </if>
      <if test="creditGrade != null">
        credit_grade,
      </if>
      <if test="yingyeStatus != null">
        yingye_status,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="supType != null">
        sup_type,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="lendingType != null">
        lending_type,
      </if>
      <if test="commissionRatio != null">
        commission_ratio,
      </if>
      <if test="commissionAmount != null">
        commission_amount,
      </if>
      <if test="subLegalProv != null">
        sub_legal_prov,
      </if>
      <if test="subLegalCity != null">
        sub_legal_city,
      </if>
      <if test="subLegalArea != null">
        sub_legal_area,
      </if>
      <if test="loansOwnPay != null">
        loans_own_pay,
      </if>
      <if test="loansTotalPay != null">
        loans_total_pay,
      </if>
      <if test="loansCompanyPay != null">
        loans_company_pay,
      </if>
      <if test="areaManager != null">
        area_manager,
      </if>
      <if test="areaManagerId != null">
        area_manager_id,
      </if>
      <if test="owncompany != null">
        owncompany,
      </if>
      <if test="suppAreaId != null">
        supp_area_id,
      </if>
      <if test="suppAreaJl != null">
        supp_area_jl,
      </if>
      <if test="isRouting != null">
        is_routing,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="gpsSupp != null">
        gps_supp,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="gdSuppCode != null">
        gd_supp_code,
      </if>
      <if test="gdSupp != null">
        gd_supp,
      </if>
      <if test="sfwyfxqd != null">
        sfwyfxqd,
      </if>
      <if test="isStageDb != null">
        is_stage_db,
      </if>
      <if test="insureId != null">
        insure_id,
      </if>
      <if test="warnDay != null">
        warn_day,
      </if>
      <if test="gotoType != null">
        goto_type,
      </if>
      <if test="ddId != null">
        dd_id,
      </if>
      <if test="supCate != null">
        sup_cate,
      </if>
      <if test="isLoansPay != null">
        is_loans_pay,
      </if>
      <if test="companyLeader != null">
        company_leader,
      </if>
      <if test="contactWay != null">
        contact_way,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="companyProv != null">
        company_prov,
      </if>
      <if test="companyCity != null">
        company_city,
      </if>
      <if test="companyArea != null">
        company_area,
      </if>
      <if test="companyAddress != null">
        company_address,
      </if>
      <if test="accountProp != null">
        account_prop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supId != null">
        #{supId,jdbcType=VARCHAR},
      </if>
      <if test="supFlag != null">
        #{supFlag,jdbcType=VARCHAR},
      </if>
      <if test="supCode != null">
        #{supCode,jdbcType=VARCHAR},
      </if>
      <if test="supName != null">
        #{supName,jdbcType=VARCHAR},
      </if>
      <if test="supShortname != null">
        #{supShortname,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="corpBusinessLicense != null">
        #{corpBusinessLicense,jdbcType=VARCHAR},
      </if>
      <if test="supAddress != null">
        #{supAddress,jdbcType=VARCHAR},
      </if>
      <if test="supFax != null">
        #{supFax,jdbcType=VARCHAR},
      </if>
      <if test="supZip != null">
        #{supZip,jdbcType=VARCHAR},
      </if>
      <if test="oragnizationCode != null">
        #{oragnizationCode,jdbcType=VARCHAR},
      </if>
      <if test="taxCode != null">
        #{taxCode,jdbcType=VARCHAR},
      </if>
      <if test="setupDate != null">
        #{setupDate,jdbcType=TIMESTAMP},
      </if>
      <if test="periodValidity != null">
        #{periodValidity,jdbcType=TIMESTAMP},
      </if>
      <if test="registeCapital != null">
        #{registeCapital,jdbcType=DECIMAL},
      </if>
      <if test="paiclupCapital != null">
        #{paiclupCapital,jdbcType=DECIMAL},
      </if>
      <if test="businessRange != null">
        #{businessRange,jdbcType=VARCHAR},
      </if>
      <if test="supWebsite != null">
        #{supWebsite,jdbcType=VARCHAR},
      </if>
      <if test="supManager != null">
        #{supManager,jdbcType=VARCHAR},
      </if>
      <if test="proIndustry != null">
        #{proIndustry,jdbcType=VARCHAR},
      </if>
      <if test="isRepo != null">
        #{isRepo,jdbcType=DECIMAL},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="provId != null">
        #{provId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null">
        #{signDate,jdbcType=TIMESTAMP},
      </if>
      <if test="openBank != null">
        #{openBank,jdbcType=VARCHAR},
      </if>
      <if test="openBankNumber != null">
        #{openBankNumber,jdbcType=VARCHAR},
      </if>
      <if test="supLegalName != null">
        #{supLegalName,jdbcType=VARCHAR},
      </if>
      <if test="supLegalPhone != null">
        #{supLegalPhone,jdbcType=VARCHAR},
      </if>
      <if test="supLegalMobil != null">
        #{supLegalMobil,jdbcType=VARCHAR},
      </if>
      <if test="subLegalAddress != null">
        #{subLegalAddress,jdbcType=VARCHAR},
      </if>
      <if test="subLegalEmail != null">
        #{subLegalEmail,jdbcType=VARCHAR},
      </if>
      <if test="billAddress != null">
        #{billAddress,jdbcType=VARCHAR},
      </if>
      <if test="billPhone != null">
        #{billPhone,jdbcType=VARCHAR},
      </if>
      <if test="taxQual != null">
        #{taxQual,jdbcType=VARCHAR},
      </if>
      <if test="taxIdenNum != null">
        #{taxIdenNum,jdbcType=VARCHAR},
      </if>
      <if test="emsToName != null">
        #{emsToName,jdbcType=VARCHAR},
      </if>
      <if test="emsToAddress != null">
        #{emsToAddress,jdbcType=VARCHAR},
      </if>
      <if test="emsToPhone != null">
        #{emsToPhone,jdbcType=VARCHAR},
      </if>
      <if test="emsToZip != null">
        #{emsToZip,jdbcType=VARCHAR},
      </if>
      <if test="loansOwnUnit != null">
        #{loansOwnUnit,jdbcType=VARCHAR},
      </if>
      <if test="loansOwnAddr != null">
        #{loansOwnAddr,jdbcType=VARCHAR},
      </if>
      <if test="loansOwnBank != null">
        #{loansOwnBank,jdbcType=VARCHAR},
      </if>
      <if test="loansOwnAccount != null">
        #{loansOwnAccount,jdbcType=VARCHAR},
      </if>
      <if test="loansTotalUnit != null">
        #{loansTotalUnit,jdbcType=VARCHAR},
      </if>
      <if test="loansTotalAdddr != null">
        #{loansTotalAdddr,jdbcType=VARCHAR},
      </if>
      <if test="loansTotalBank != null">
        #{loansTotalBank,jdbcType=VARCHAR},
      </if>
      <if test="loansTotalAccount != null">
        #{loansTotalAccount,jdbcType=VARCHAR},
      </if>
      <if test="subScore != null">
        #{subScore,jdbcType=DECIMAL},
      </if>
      <if test="fileNumber != null">
        #{fileNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="supLevel != null">
        #{supLevel,jdbcType=VARCHAR},
      </if>
      <if test="supSwitch != null">
        #{supSwitch,jdbcType=VARCHAR},
      </if>
      <if test="creditSwitch != null">
        #{creditSwitch,jdbcType=VARCHAR},
      </if>
      <if test="paymentSwitch != null">
        #{paymentSwitch,jdbcType=VARCHAR},
      </if>
      <if test="balanceLoanSwitch != null">
        #{balanceLoanSwitch,jdbcType=VARCHAR},
      </if>
      <if test="irregularRepaymentSwitch != null">
        #{irregularRepaymentSwitch,jdbcType=VARCHAR},
      </if>
      <if test="bModelSwitch != null">
        #{bModelSwitch,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="supLegalIdcard != null">
        #{supLegalIdcard,jdbcType=VARCHAR},
      </if>
      <if test="orgBmid != null">
        #{orgBmid,jdbcType=DECIMAL},
      </if>
      <if test="scode != null">
        #{scode,jdbcType=VARCHAR},
      </if>
      <if test="openBankAddr != null">
        #{openBankAddr,jdbcType=VARCHAR},
      </if>
      <if test="emsId != null">
        #{emsId,jdbcType=VARCHAR},
      </if>
      <if test="provInstalmentId != null">
        #{provInstalmentId,jdbcType=VARCHAR},
      </if>
      <if test="financeSupId != null">
        #{financeSupId,jdbcType=VARCHAR},
      </if>
      <if test="loansCompanyUnit != null">
        #{loansCompanyUnit,jdbcType=VARCHAR},
      </if>
      <if test="loansCompanyAddr != null">
        #{loansCompanyAddr,jdbcType=VARCHAR},
      </if>
      <if test="loansCompanyBank != null">
        #{loansCompanyBank,jdbcType=VARCHAR},
      </if>
      <if test="loansCompanyAccount != null">
        #{loansCompanyAccount,jdbcType=VARCHAR},
      </if>
      <if test="smsSwitch != null">
        #{smsSwitch,jdbcType=VARCHAR},
      </if>
      <if test="creditStatus != null">
        #{creditStatus,jdbcType=DECIMAL},
      </if>
      <if test="scanSwitch != null">
        #{scanSwitch,jdbcType=VARCHAR},
      </if>
      <if test="datafillSwitch != null">
        #{datafillSwitch,jdbcType=VARCHAR},
      </if>
      <if test="creditGrade != null">
        #{creditGrade,jdbcType=VARCHAR},
      </if>
      <if test="yingyeStatus != null">
        #{yingyeStatus,jdbcType=DECIMAL},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="supType != null">
        #{supType,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="lendingType != null">
        #{lendingType,jdbcType=VARCHAR},
      </if>
      <if test="commissionRatio != null">
        #{commissionRatio,jdbcType=DECIMAL},
      </if>
      <if test="commissionAmount != null">
        #{commissionAmount,jdbcType=DECIMAL},
      </if>
      <if test="subLegalProv != null">
        #{subLegalProv,jdbcType=VARCHAR},
      </if>
      <if test="subLegalCity != null">
        #{subLegalCity,jdbcType=VARCHAR},
      </if>
      <if test="subLegalArea != null">
        #{subLegalArea,jdbcType=VARCHAR},
      </if>
      <if test="loansOwnPay != null">
        #{loansOwnPay,jdbcType=VARCHAR},
      </if>
      <if test="loansTotalPay != null">
        #{loansTotalPay,jdbcType=VARCHAR},
      </if>
      <if test="loansCompanyPay != null">
        #{loansCompanyPay,jdbcType=VARCHAR},
      </if>
      <if test="areaManager != null">
        #{areaManager,jdbcType=VARCHAR},
      </if>
      <if test="areaManagerId != null">
        #{areaManagerId,jdbcType=VARCHAR},
      </if>
      <if test="owncompany != null">
        #{owncompany,jdbcType=DECIMAL},
      </if>
      <if test="suppAreaId != null">
        #{suppAreaId,jdbcType=DECIMAL},
      </if>
      <if test="suppAreaJl != null">
        #{suppAreaJl,jdbcType=VARCHAR},
      </if>
      <if test="isRouting != null">
        #{isRouting,jdbcType=DECIMAL},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="gpsSupp != null">
        #{gpsSupp,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=VARCHAR},
      </if>
      <if test="gdSuppCode != null">
        #{gdSuppCode,jdbcType=VARCHAR},
      </if>
      <if test="gdSupp != null">
        #{gdSupp,jdbcType=VARCHAR},
      </if>
      <if test="sfwyfxqd != null">
        #{sfwyfxqd,jdbcType=DECIMAL},
      </if>
      <if test="isStageDb != null">
        #{isStageDb,jdbcType=DECIMAL},
      </if>
      <if test="insureId != null">
        #{insureId,jdbcType=DECIMAL},
      </if>
      <if test="warnDay != null">
        #{warnDay,jdbcType=DECIMAL},
      </if>
      <if test="gotoType != null">
        #{gotoType,jdbcType=DECIMAL},
      </if>
      <if test="ddId != null">
        #{ddId,jdbcType=VARCHAR},
      </if>
      <if test="supCate != null">
        #{supCate,jdbcType=VARCHAR},
      </if>
      <if test="isLoansPay != null">
        #{isLoansPay,jdbcType=DECIMAL},
      </if>
      <if test="companyLeader != null">
        #{companyLeader,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null">
        #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="companyProv != null">
        #{companyProv,jdbcType=VARCHAR},
      </if>
      <if test="companyCity != null">
        #{companyCity,jdbcType=VARCHAR},
      </if>
      <if test="companyArea != null">
        #{companyArea,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="accountProp != null">
        #{accountProp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>